h1 {color: black; text-align: center; font-family: sans-serif;}

/* Criando um fundo degrade para a pagina */ 
body{background-image: linear-gradient(teal, white ); text-align: center;}

a {color: blue ; text-align: center;}

/* Centralizando a imagem */
img { margin: auto ; display: block;}

p { font-family: sans-serif;}

h3 {font-family: sans-serif;}

ul {font-family: sans-serif;}



